@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
  font-size: 75%;
}

.activeClassName {
  color: red;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

//media query-----------------------------------------------------------------------
.o-responsiveWrapper {
  width: 100%;
  min-height: calc(100vh - 170px);
  position: absolute;
  top: 170px;
}

@media (min-width: 768px) {
  .o-responsiveWrapper {
    min-height: calc(100vh - 80px);
    top: 80px;
  }
}

//--------------------------------------------------------------------
.o-responsiveBlock {
  min-height: 100%;
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 320px) {
  .o-responsiveBlock {
    width: 85%;
  }
}

@media (min-width: 500px) {
  .o-responsiveBlock {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .o-responsiveBlock {
    width: 95%;
  }
}

@media (min-width: 968px) {
  .o-responsiveBlock {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .o-responsiveBlock {
    width: 75%;
  }
}

@media (min-width: 1400px) {
  .o-responsiveBlock {
    width: 65%;
  }
}

@media (min-width: 1600px) {
  .o-responsiveBlock {
    width: 55%;
  }
}
