.e-Home__wrapper {
  // border: 1px solid red;
}

.b-Home {
  // border: 1px solid red;
}

.e-Home {
  &__container {
    border-top: 1px solid lightgray;
    padding: 1rem;
    margin-top: 4rem;
    height: calc(100vh - 230px);

    h1 {
      margin: 2rem 0;
      text-align: center;
    }
  }
}

//media queries-------------------------------------------------------
